
 body{
    background-color: beige;
 }

.ctm-container{
    border: 1px solid #e8e2e2;
    max-width: 300px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
}

.add-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.ctm-container h1{
    text-align: center;
    margin: 15px 0px;
}

.list-section{
    margin: 25px 0px;
}

.list-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list-section ul li{
    
}

.list-section .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0px;
    background-color: #f1f1f0;
    padding: 10px;
    border-radius: 33px;
}